$primary-color: #F12A15;
$primary-color-dark: #D0021B;
$secondary-color: #36d1ff;
$secondary-color-light: #25e9ff;
$secondary-color-dark: #1962AF;

$green: #8DCC33;
$green-dark: #71B117;
$orange: #FFB719;

$gray-100: #F2F4F8;
$gray-200: #D9DCE4;
$gray-300: #BDC0C8;
$gray-400: #888D99;
$gray-500: #575B62;
$gray-600: #36383C;

$menu-item-color: #D8D8D8;
$border-color: #E0E0E0;